@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
#nav{
    background-color: #212121;
    height: 64px;
}

#link{
    margin-top: 12px;
    margin-right: 1em;
    color: #fbe9e7;
}

#title{
    position: relative;
    right: 70px;
    margin-top: 16px;
    margin-right: 800px;
    margin-left: 0;
    padding: 0;
    font-family: 'Bitter', serif;
    color: #fbe9e7;
}