<div class="wrapper">
    <div class="mainbody" id="mainbody">
        <div class="col1">Prifile</div>
        <div class="col2">
            <div class="input-group mb-3" id="inputblock">
                <input type="text" id="postinput" class="form-control" placeholder="What`s new?" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <!-- <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button> -->
                </div>
              </div>
        </div>
        <div class="col3"></div>
    </div>
</div>