<div class="wrapper">
    <div class="mainbody" id="mainbody">
        <div class="col1">
            <h3>{{UserName | uppercase}} {{UserLastName | uppercase}}</h3>
            <p>Birthday: {{UserBirthday | date | uppercase }}</p>
        </div>
        <div class="col2">
            <div class="input-group mb-3" id="inputblock">
                <textarea class="form-control" id="postinput" placeholder="What`s new?" rows="3"></textarea>
                <div class="input-group-append">
                    <button type="button" id="post" class="btn btn-dark">Post</button>
                </div>
              </div>
              <hr>
        </div>
        <div class="col3"></div>
    </div>
</div>
