.wrapper{
    width:100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #f44336;
}

.mainbody{
    width: 1024px;
    height: auto;
    overflow: hidden;
    margin: 10px auto 10px auto;
    /* background-color: #ffcdd2; */
}

.col1{
    width: 23%;
    float: left;
    height: 300px;
    background-color:rgba(229, 115, 115, 0.5);
}

.col2{
    width: 50%;
    float: left;
    height: 300px;
    margin-left: 2%;
    background-color: rgba(229, 115, 115, 0.5);
}

.col3{
    width: 23%;
    float: right;
    height: 300px;
    background-color:rgba(229, 115, 115, 0.5);
}

#inputblock{
    width: 400px;
    margin: auto;
    margin-top: 1em;
}

#postinput{
    background-color:#FBE9E7;
    outline: none;
    resize: none;
}

#post{
    background-color: #212121;
}