.wrapper{
    width:100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #f44336;
}

.mainbody{
    width: 1024px;
    height: auto;
    overflow: hidden;
    margin: 10px auto 10px auto;
    background-color: #ffcdd2;
}

.col1{
    width: 23%;
    float: left;
    height: 300px;
    background-color: #ffd54f;
}

.col2{
    width: 50%;
    float: left;
    height: 300px;
    margin-left: 2%;
    background-color: #ffe082;
}

.col2{
    width: 23%;
    float: right;
    height: 300px;
    background-color: #ffca28;
}