<!-- Добавить Поля "First Name и Last Name" -->
<form class="form" name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
            
  <h2 id="signup">Sign Up</h2>

    <div class="form-group">
        <label for="userName">User name</label>
      <input class="form-control" type="text" placeholder="Name" 
      formControlName="userName" [ngClass]="{'is-invalid':form.get('userName').touched && form.get('userName').invalid}" required />
      <div class="invalid-feedback">
        <div>User Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail" 
      formControlName="email" [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}" />
      <div *ngIf="form.get('email').touched && form.get('email').invalid"  class="invalid-feedback">
        <div *ngIf="form.get('email').errors.required">Email Name is required</div>
        <div *ngIf="form.get('email').errors.email">Email must be a valid</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" 
      placeholder="Password" formControlName="password" [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}" />
      <div *ngIf="form.get('password').touched && form.get('password').invalid"  class="invalid-feedback">
        <div *ngIf="form.get('password').errors.required">Password is required</div>
        <div *ngIf="form.get('password').errors.minlength">Password must be at least 8 characters</div>
      </div>
    </div>

    <div class="form-group">
      <p id="formlinkp">Already have an account? <a id="formlinka" [routerLink]="['/signin']" routerLinkActive="router-link-active" appHighlight>Sign in</a></p>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-danger" [disabled]="!form.valid" [routerLink]="['/main']" routerLinkActive="router-link-active" >Sign Up</button>
    </div>
</form>